@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$body-bg: rgb(236,240,241);


$navbar-default-bg: white;
$jumbotron-bg: white;
$navbar-default-brand-color:#1abc9c;
$brand-primary:#1abc9c;

@import "bootstrap";

.center{
  text-align: center;
}

.navbar-brand{
  font-weight: bold;
}
